<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <%- include navbar.ejs %> <% if (!isLoggedIn) { %>
    <h3>User : <%= user.name %></h3>
    <h3>Email : <%= user.email %></h3>
    <h1>id : <%= user._id %></h1>
    <h3>
      -------------------------------------------------------------------------------------------------------------------
    </h3>
    <h4>All Posts :</h4>
    <table>
      <% for(var i=0; i < data.length; i++) { %>

      <tr>
        <td>
          <h3>Post <%= i+1 %> :</h3>
          Title : <%= data[i].title %>
        </td>
      </tr>
      <tr>
        <td>
          Post : <%= data[i].textArea %> <br />
          <br />
        </td>
      </tr>
      <% } %>
    </table>

    <% } %> <% if (isLoggedIn) { %>

    <h1>id : <%= user._id %></h1>

   
<div class="jumbotron">
  <div class="container">
 
    <h3>User : <%= user.name %></h3><form action="/api/posts/follow/<%=user._id%>" method="POST">
      <input id="follow" class="btn btn-success" type="submit" value="follow" />
    </form>
    <h3>Email : <%= user.email %></h3> 
    <h3>
      -----------------------------------------------------------------------------------------
    </h3>
    <h4>All Posts :</h4>
    <table>
      <% for(var i=0; i < data.length; i++) { %>

      <tr>
        <td>
          <h3>Post <%= i+1 %> :</h3>
          Title : <%= data[i].title %>
        </td>
        <%=data.id %>
        <td>
          Post : <%= data[i].textArea %> <br />
          <br />
          <form action="/api/posts/likePost/<%=data[i]._id%>" method="POST">
           
            <input
              onclick="change()"
              id="like"
              type="submit"
              value="Like"
              class="btn btn-primary"
            />
          <script>
            function change() {
          var elem = document.getElementById("like");
          if (elem.value == "Like") elem.value = "Unlike";
          else elem.value = "Like";
            }
          </script>
          </form>
            <h3>Likes : <%=data[i].likes.length %></h3>
        </td>
      </tr>
  </div>
  </div>
      <% } %>
    </table>

    <% } %>
    <h3><a href="/home" class="btn btn-danger">Home</a></h3>
  </body>
</html>
